.pageWrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 2fr;
    gap: 50px;
    padding: 30px 50px;
}

.elementContainer {
    border-radius: 20px;
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    background-color: var(--element-background-color);
}

/* Tasks */

.taskContainer {
    grid-column: 1;
    grid-row: 1 / span 2;
}

/* Schedule */

.scheduleContainer {
    grid-column: 2;
    grid-row: 1;
}

/* Announcements */

.announcementContainer {
    grid-column: 2;
    grid-row: 2;
}