.pageWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--page-background-color);
}

.formLayout {
    width: 480px;
    height: 550px;
    max-width: 85%;
    background-color: var(--element-background-color);
    border-radius: 40px;
}

.formWrapper {
    width: calc(100% - 80px);
    height: calc(100% - 120px);
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 40px 0px;
    align-items: center;
    justify-content: center;
}

.textInput {
    height: 1.5rem; 
    width: 100%;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    padding: 10px 5px 5px;
    font-family: "Open Sans", sans-serif;
}

.flashMessage {
    width: 100%;
    margin-top: 5px;
    color: red;
}

.submitBtn {
    margin-top: 30px;
    padding: 10px 25px;
    background-color: var(--base-color);
    border: none;
    border-radius: 25px;
    font-family: "open sans", sans-serif;
    font-size: 1.25rem;
}

.submitBtn:hover {
    cursor: pointer;
}