.moduleWrapper {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.newTaskContainer{
    margin-top: 25px;
    width: 85%;
    display: grid;
    grid-template-columns: min-content min-content auto min-content;
    grid-template-rows: min-content min-content;
}

.taskTitleInput{
    grid-row: 1;
    grid-column: 1 / 5;
    width: 100%;
    height: 2rem;
    border: 1px solid black;
    border-radius: 20px;
}

/* .taskTitleInput:focus{
    outline: none;
} */